<h3 mat-dialog-title> {{data.title}}</h3>
<hr>

<mat-dialog-content>

    {{data.name}}

    <br>
    <br>

    <button mat-raised-button color="warn" (click)="newGame()">Start New Game</button>

</mat-dialog-content>