<div class="container">
  <h1>Tic Tac toe game ...</h1>

  <br>
  <br>

  <table class="table" cellspacing="0">
    <tr *ngFor="let ra of array;">
      <td *ngFor="let c of ra;">
        <button class="btn btn-outline-success box" (click)="change(c.raw,c.column)">{{c.s}}</button>
      </td>
    </tr>
  </table>

  <br>
  <br>

  <button mat-raised-button color="warn" (click)="reset()">Reset</button>
</div>