.box {
    height: 100px;
    width: 100px;
    font-size: 50px;
    padding: 0px;
    margin: 0px;
}

.container {
    text-align: center;
    padding-right: 30px;
}

.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
}

.mat-table {
    overflow: auto;
    max-height: 500px;
}

.table {
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    border: 2px solid black;
    width: 30%;
}